{% load staticfiles %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Profile Page</title>

    <!-- Sets initial viewport load and disables zooming  -->
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">

    <!-- Makes your prototype chrome-less once bookmarked to your phone's home screen -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <!-- Include the compiled Ratchet CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/logging_info.css' %}" >
    <link rel="stylesheet" type="text/css" href="{% static 'dist/css/ratchet.css' %}" >

    <!-- Include the compiled Ratchet JS -->
    <script src="../ratchet/dist/js/ratchet.js"></script>
  </head>
  <body>

    <!-- Make sure all your bars are the first things in your <body> -->
    <header class="bar bar-nav ">
      <button class="btn btn-link btn-nav pull-left">
      <span class="icon icon-left-nav turquise"></span>
      </button>
      <h3 class="title salmon-orange header font">profile</h3>
    </header>

    <!-- Wrap all non-bar HTML in the .content div (this is actually what scrolls) -->
    <!-- TODO: fix font -->
    <div class="content background_color font">
      <div class="salmon-orange font" id = "profile-header"> 
        <img id = "profile-pic" src="http://cdn.photoaffections.com/images/icon-profile.png">
        <div class="table-view-cell">
        <h3 class="title-bar salmon-orange"> Name</h3>
        <h5 class="title-bar salmon-orange"> Info 1</h5>
        <h5 class="title-bar salmon-orange"> Info 2</h5>
        </div>
      </div>

      <ul class="table-view">
        <li class="table-view-cell media">
          <a class="navigate-right">
            <div class="media-body turquise">
            <div class="sub-header">
              <span class="icon icon-compose"></span>
              Case Manager Requests
            </div>
              <div class="card clear">
                <ul class="table-view">
                  <li class="table-view-cell">Item 1</li>
                  <li class="table-view-cell">Item 2</li>
                  <li class="table-view-cell">Item 3</li>
                  <li class="table-view-cell">Item 4</li>
                </ul>
              </div>
            </div>
          </a>
        </li>
        <!-- Decide whether to convert the cards into view media cell-->
        <li class="table-view-cell media">
          <a class="navigate-right">
            <div class="media-body turquise">
            <div class="sub-header">
              <span class="icon icon-compose"></span>
              Case Manager Requests
            </div>
              <div class="card clear">
                <ul class="table-view">
                  <li class="table-view-cell">Item 1</li>
                  <li class="table-view-cell">Item 2</li>
                  <li class="table-view-cell">Item 3</li>
                  <li class="table-view-cell">Item 4</li>
                </ul>
              </div>
            </div>
          </a>
        </li>
        <li class="table-view-cell media">
          <a class="navigate-right">
            <div class="media-body turquise">
              <div class="sub-header">
              <span class="icon icon-compose"></span>
                Incomplete Requests
              </div>

              <div class="card clear">
                <ul class="table-view">
                  <li class="table-view-cell">Item 1</li>
                  <li class="table-view-cell">Item 2</li>
                  <li class="table-view-cell">Item 3</li>
                  <li class="table-view-cell">Item 4</li>
                </ul>
              </div>

            </div>
          </a>
        </li>
        <li class="table-view-cell media">
          <a>
            <div class="media-body turquise">
              <div class="sub-header">
              <span class="icon icon-info"></span>
              Quick Info
              </div>
              <div class="card clear">
                <ul class="table-view">
                  <li class="table-view-cell">Item 1</li>
                  <li class="table-view-cell">Item 2</li>
                  <li class="table-view-cell">Item 3</li>
                  <li class="table-view-cell">Item 4</li>
                </ul>
              </div>
            </div>
          </a>
        </li>
        <li class="table-view-cell media">
          <a>
            <div class="media-body turquise">
            <div class = "sub-header">
              <span class="icon icon-edit"></span>
              Story
            </div>

            <div class="clear">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore. Lorem ipsum dolor sit amet.</p>
              </div>
        
          </a>
        </li>
      </ul>
      <div id="timeline"
        <button class="btn btn-negative btn-block">timeline</button>
      </div>
    </div>
  </body>
</html>