{% load staticfiles %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Profile Page</title>

    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link rel="stylesheet" type="text/css" href="{% static 'dist/css/ratchet.css' %}" >
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}" >
    <link rel="stylesheet" type="text/css" href="{% static 'css/profile.css' %}" >

    <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>   
    <script src="{% static 'js/profile.js' %}"></script>

  </head>
  <body>

    {% if client %}
    <div id="profile-header" class="fixed">
      <div>
        <a class="our-icon icon icon-left-nav pull-left turquoise-text" href="/search"></a>
        <div class="our-icon icon icon-compose pull-right turquoise-text" id="changeNameMode"></div>

        <div id="namedisplaydiv">
          {% if client.nick_name != "" %}
            <h1 class="salmon-orange-text name-text">{{client.first_name}} "{{client.nick_name}}" {{client.last_name}}</h1>
          {% else %}
            <h1 class="salmon-orange-text name-text">{{client.first_name}} {{client.last_name}}</h1>            
          {% endif %}
        </div>
      </div>

      <div id="nameformdiv" class="hidden">
        <form action='' method='POST' id='updatenameform' name='updatenameform'>
          {% csrf_token %}
          <div id="nameinputsdiv">
            <input type="text" name="updatefirstname" id="updatefirstname" value="{{client.first_name}}">
            <input type="text" name="updatenickname" id="updatenickname" value="{{client.nick_name}}">
            <input type="text" name="updatelastname" id="updatelastname" value="{{client.last_name}}">
          </div>
          <div class="button" id="updateNameButton" onclick="submitUpdateNameForm()" title="updateNameButton!">
            <div class="our-icon icon icon-check pull-right turquoise-text" id="changeNameMode"></div>
          </div>

        </form>
      </div>

      <div id="tags"><p>
        {% for tag in client.get_tags %}
          <form action='' method='POST' id='deletetagform' name='deletetagform' style="display: inline; margin: 0; padding: 0;">
            {% csrf_token %}
          <input type="text" name="deletetagdesc" id="deletetagdesc" value="{{tag}}" class="hidden" >          
          <span class="tag">
            {{tag}} 
            <input type="submit" value="x" id="deletetagsubmit" name="deletetagsubmit">
          </span>
          </form>
        {% endfor %}
          <form action='' method='POST' id='newtaginput' name='newtaginput'>
            {% csrf_token %}
            <input type="text" name="newtagvalue" id="newtagvalue" placeholder="Type to add a new tag">
          </form></p>
      </div>

        <div id="profile-nav" class="lightest-blue">
          <div class="profile-nav-button" id="profile-totimeline">
            <div class="our-icon icon icon-list navbuttonicon" style="color:white"></div>
          </div>
          <div class="selected-button profile-nav-button" id="profile-toquickinfo">
            <div class="our-icon icon icon-info navbuttonicon" style="color:white"></div>            
          </div>
          <div class="profile-nav-button" id="profile-torequests">
            <div class="our-icon icon icon-person navbuttonicon" style="color:white"></div>
          </div>
        </div>
      </div>

    
    <div class="content">

    <div class="hidden profile-subpage" id="profile-timeline">
      </br></br>
      <p class="turquoise-text subtitle-text">Previous Interactions</br></p>
      <a class="our-icon icon icon-plus pull-right salmon-orange-text" href="/log_interaction/{{client.id}}"></a>
        {% if interactions %}
          <ul class="timeline">
            {% for interaction in interactions %}
              <li>
              <div class="timeline-badge.primary"><i class="glyphicon glyphicon-check"></i></div>
              <div class="timeline-panel">
                <div class="timeline-body">
                  <p class="timeline-desc turquoise-text">{{interaction.description}}<a href="/edit_interaction/{{client.id}}/{{interaction.id}}"><span class="icon icon-edit"></span></a> <a href="/delete_interaction/{{client.id}}/{{interaction.id}}"><span class="icon icon-trash"></span></a></p>
                  <p class="timeline-info salmon-orange-text">{{interaction.timestamp}} | {{interaction.user}}</p>
                </div>
              </div>
            </li>
            {% endfor %}
          </ul>
        {% else %}
            <p>No interactions yet</p>
        {% endif %}
    </div>

    <div class="profile-subpage" id="profile-quickinfo">
      </br></br>
      <p class="turquoise-text subtitle-text">Quick Info</br></p>
          <form action='' method="POST" id="quickinfo_form" name="quickinfo_form">
            {% csrf_token %}
              <div class="row">
                <span class="radio-toggles">
                  <span class="radio-toggle">
                    <label style="margin:4px">Y</label>
                  </span>
                  <span class="radio-toggle">
                    <label style="margin:4px">N</label>
                  </span>
                </span>
              </div>

              <div class="row">
                <span class="radio-toggles">
                  <span class="radio-toggle">
                    <input type="radio" id="radio1" name="is_military" value="yes" {% if client.is_military %} checked {% endif %}>
                  </span>
                  <span class="radio-toggle">
                    <input type="radio" id="radio2" name="is_military" value="no" {% if not client.is_military %} checked {% endif %}>
                  </span>
                </span>
                <span class="light-blue-text q-text">military?</span>
              </div>
              <div class="row">
                <span class="radio-toggles">
                  <span class="radio-toggle">
                    <input type="radio" id="radio3" name="health_concerns" value="yes" {% if client.health_concerns %} checked {% endif %}>
                  </span>
                  <span class="radio-toggle">
                    <input type="radio" id="radio4" name="health_concerns" value="no" {% if not client.health_concerns %} checked {% endif %}>
                  </span>
                </span>
                <span class="light-blue-text q-text">health concerns?</span>
              </div>

              <div class="row">
                <span class="radio-toggles">
                  <span class="radio-toggle">
                    <input type="radio" id="radio5" name="dna_assistance" value="yes" {% if client.dna_assistance %} checked {% endif %}>
                  </span>
                  <span class="radio-toggle">
                    <input type="radio" id="radio6" name="dna_assistance" value="no" {% if not client.dna_assistance %} checked {% endif %}>
                  </span>
                </span>
                <span class="light-blue-text q-text">dna assistance?</span>
              </div>
              <div class="row">
                <span class="radio-toggles">
                  <span class="radio-toggle">
                    <input type="radio" id="radio7" name="has_doctor" value="yes" {% if client.has_doctor %} checked {% endif %}>
                  </span>
                  <span class="radio-toggle">
                    <input type="radio" id="radio8" name="has_doctor" value="no" {% if not client.has_doctor %} checked {% endif %}>
                      <label for="radio8"> </label>
                  </span>
                </span>
                <span class="light-blue-text q-text">seeing doctor?</span>
              </div>

              <div class="row">
                <span class="radio-toggles">
                  <span class="radio-toggle">
                    <input type="radio" id="radio9" name="has_insurance" value="yes" {% if client.has_insurance %} checked {% endif %}>
                  </span>
                  <span class="radio-toggle">
                    <input type="radio" id="radio10" name="has_insurance" value="no" {% if not client.has_insurance %} checked {% endif %}>
                      <label for="radio10"> </label>
                  </span>
                </span>
                <span class="light-blue-text q-text">has insurance?</span>
              </div>

              <div class="row"></br>
                <p class="turquoise-text subtitle-text">Duration of homelessness</p>
                <span class="duration-select">
                  <select name="duration" id="duration">
                    <option {% if client.duration_of_homelessness == 1 %} selected="selected" {% endif %}>1</option>
                    <option {% if client.duration_of_homelessness == 2 %} selected="selected" {% endif %}>2</option>
                    <option {% if client.duration_of_homelessness == 3 %} selected="selected" {% endif %}>3</option>
                    <option {% if client.duration_of_homelessness == 4 %} selected="selected" {% endif %}>4</option>
                    <option {% if client.duration_of_homelessness == 5 %} selected="selected" {% endif %}>5</option>
                    <option {% if client.duration_of_homelessness == 6 %} selected="selected" {% endif %}>6</option>
                    <option {% if client.duration_of_homelessness == 7 %} selected="selected" {% endif %}>7</option>
                    <option {% if client.duration_of_homelessness == 8 %} selected="selected" {% endif %}>8</option>
                    <option {% if client.duration_of_homelessness == 9 %} selected="selected" {% endif %}>9</option>
                    <option {% if client.duration_of_homelessness == 10 %} selected="selected" {% endif %}>10+</option>
                  </select>
                </span>
              </div>
              <button type="submit" > update </button>

              <div class="row"></br>
                <p class="turquoise-text subtitle-text">Story</p>
                <p>{{client.story}}</p>
              </div>
            </form>
    </div>

    <div class="hidden profile-subpage" id="profile-requests">
      </br></br>
      <p class="turquoise-text subtitle-text">Incomplete Requests</br></p>
      <div class="media-body">
          <form action='' method='POST' id='newrequestinput' name='newrequestinput'>
            {% csrf_token %}
            <input type="text" name="newrequestvalue" id="newrequestvalue" placeholder="type to add new request"><br>
          </form>

          <ul id="requestlist"> 
          {% if requests %}
            {% for request in requests %}
              <li class="request">
                  <div class="button" onclick="removeRequestForm()">
                    <div class="removereqbutton">
                      <div class="our-icon icon icon-close pull-right white-text reqremove" id="{{request.id}}"></div>
                    </div>
                  </div>
                {{request.description}} <br> <span class="lightest-blue-text requesttimestamp">{{request.asked_timestamp}} </span>
                <form action='' method='POST' id='deleterequestform' name='deleterequestform'>
                  {% csrf_token %}
                  <input type="text" name="deletereqdesc" id="deletereqdesc" value="{{request.id}}" class="hidden" >
                </form>
              </li>
            {% endfor %}
        {% else %}
              <li class="request">No current requests</li>
        {% endif %}
            </ul>
          </div> 
      </div>
    </div>
  <!-- </div> -->
    {% else %}
      <p> Client Does Not Exist </p>
    {% endif %}
    </div>
  </body>
</html>