<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Search</title>

    <!-- Sets initial viewport load and disables zooming  -->
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">

    <!-- Makes your prototype chrome-less once bookmarked to your phone's home screen -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <!-- Include the compiled Ratchet CSS -->
    <link href="../ratchet/dist/css/ratchet.css" rel="stylesheet">

    <!-- Include the compiled Ratchet JS -->
    <script src="../ratchet/dist/js/ratchet.js"></script>
  </head>
  <body>

    <!-- Make sure all your bars are the first things in your <body> -->
    <header class="bar bar-nav">
      <h3 class="title">Search</h3>
    </header>

    <!-- Wrap all non-bar HTML in the .content div (this is actually what scrolls) -->
    <div class="content ">
      <div id = "profile-header" class="content-padded"> 
         <form>
          <input type="text" placeholder="enter tags">
          <button class="btn btn-positive btn-block">Search</button>
        </form>
      </div>
      <ul class="table-view">
        <!-- Decide whether to convert the cards into view media cell-->
        <li class="table-view-cell media">
          <a class="navigate-right">
            <img class="media-object pull-left" src="http://placehold.it/42x42">
            <div class="media-body">
              Name
              <div class="card">
                <ul class="table-view">
                  <li class="table-view-cell">Age</li>
                  <li class="table-view-cell">Location</li>
                  <li class="table-view-cell">Brief Description</li>
                </ul>
              </div>
            </div>
          </a>
        </li>
        <li class="table-view-cell media">
          <a class="navigate-right">
            <img class="media-object pull-left" src="http://placehold.it/42x42">
            <div class="media-body">
              Name
              <div class="card">
                <ul class="table-view">
                  <li class="table-view-cell">Age</li>
                  <li class="table-view-cell">Location</li>
                  <li class="table-view-cell">Brief Description</li>
                </ul>
              </div>
            </div>
          </a>
        </li>
        <li class="table-view-cell media">
          <a>
            <img class="media-object pull-left" src="http://placehold.it/42x42">
              <div class="media-body">
              Name
              <div class="card">
                <ul class="table-view">
                  <li class="table-view-cell">Age</li>
                  <li class="table-view-cell">Location</li>
                  <li class="table-view-cell">Brief Description</li>
                </ul>
              </div>
            </div>
          </a>
        </li>
       
      </ul>
      <button class="btn btn-positive btn-block btn-outlined">Timeline</button>
    </div>
  </body>
</html>