{% load staticfiles %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Search</title>

    <meta name="viewport" content="initial-scale=1, maximum-scale=1">

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link rel="stylesheet" type="text/css" href="{% static 'dist/css/ratchet.css' %}" >
    <link rel="stylesheet" type="text/css" href="{% static 'css/search.css' %}" >
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}" >
  </head>
  <body>
    <!-- HEADER -->
    <div class="content ">

    <div class="fixed">
        <div>
          <a class="our-icon icon icon-close pull-left turqoise" href="/logout"></a>
          <a class="our-icon icon icon-compose pull-right turqoise" href="/new_client"></a>
        </div>

        <h1 class="salmon-orange-text title-text"> client list</h1>
        
        <!-- SEARCH BAR -->
        <div id="searchbar">
            <span class="grey-text subtitle-text">search</span>
            <form action='' method="POST">
            {% csrf_token %}
                <input type="input" id="search_input" name="search_input"
                       class="subtitle-text lightest-blue" 
                       placeholder="enter tags">
            </form>
        </div>
    </div>

    <div> 
    <!-- SEARCH RESULTS LIST -->
        <div style="margin-top: 170px;">
        {% if client_list %}
            {% for client in client_list %} 
                <div class="lightest-blue search-result">
                  <a href="client/{{client.id}}">
                    <div class="table-view-cell medium-text salmon-orange", id="searchname">
                    {{client.first_name}} {{client.last_name}} / {{client.nick_name}}</div>
                    <div class="table-view-cell", id="search-info">
                        {{client.tags_list}}
                    </div>
                  </a>
                </div>
            {% endfor %}        
        {% else %}
            <div class="grey medium-text">
                No clients found.
            </div>
        {% endif %}
        
        </div>
    </div>
  </body>
</html>
