.light-blue{
    color: #9FDAE0;
    font-weight: lighter;
}

.salmon-orange{
    color:#EF6E47;
}

.title-text{
    margin-top:-10px;
    text-align: center;
    font-weight: lighter;
}

.title-bar{
    min-height:25px;
    margin: 10px;
    padding:12px;
}

.row{
    min-height:25px;
    margin-bottom: 20px;
    padding-right: 10%;
    padding-left: 10%;
}


.lefter{
    margin-left: -22px;
}

.smaller{
    font-size: 20px;
}

.bigger{
    background-size:100;
}

input[type=text] {
    border: none;
    border-bottom: 2px solid #9FDAE0;
    padding-left: -2px;
    padding-right: -2px;
    width:100%;
}

textarea{
    border: none;
    padding-top: -20px;
    font-size:10px;
    border-bottom: 2px solid #9FDAE0;
    padding-left: -2px;
    padding-right: -2px;
    width:100%;
}

