#profile-header {
    width: 100%;
    margin: 0;
    padding: 0;
}

.icon-left-nav {
    margin: 0;
    padding: 0;
}

.name-text{
    margin: 0 30px;
    font-size: 28px;
    /*background-color: #EAF4F5;*/
    color: black;
    padding: 8px;
}

.sub-header{
    width: 200%;
    height: 50px;
    color: #7BB6BC;
    padding: 10px;
}

#profile-header{
    padding: 20px 10px 0px 10px;
    margin: 0;
}

#profile-name {
    vertical-align: text-top;
    display: inline-block;
    padding: 10px;
}

#profile-pic{
    vertical-align: text-top;
    display: inline-block;
    height: 100%;
    margin-left: 20px;
    width:80px;
    height:80px;
}

.profile-subpage {
    padding:  10px 22px 22px 22px;
}

.profile-timeline, ul.timeline {
    margin: 0;
    padding: 0;
}

#timeline-button{
    background-color: #FEB596;
    font-size: 30px;
    font-weight: 100;
    border-color: #EF6E47;
    border-style: dashed hidden hidden hidden;
    text-align: center;
    padding: 10px;
    bottom: 0;
    width: 100%;
}

#profile-nav {
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
}

.profile-nav-button {
    margin: 5px 12% 2px 12%;
    display: inline-block;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    background-color: #FBB699;
}

.selected-button {
    background-color: #EF6E47;
}

#tags {
    margin: 6px;
    padding-top: 10px;
}

.tag, #newtagvalue {
    font-size: 13px;
    background-color: #7BB6BC;
    color: white;
    border-radius: 12px;
    height: 24px;
    padding: 6px;
    margin: 6px 2px;
}

#newtagvalue {
    width: 80%;
}

.content {
    margin-top: 150px;
}

#newrequestvalue {
    color: black;
    margin: 0;
}

.q-text {
    font-size: 20px;
}

.checkbox {
    width: 25px;
    margin: 20px 100px;
    position: relative;
}

input[type="radio"] {
    margin: 8px 4px;
}

input[type="submit"] {
    border: none;
    width: 20px;
    text-align: center;
}


#nameinputsdiv {
    margin: 0 33px;
}

#updatefirstname, #updatenickname, #updatelastname {
    border: 1px solid #7BB6BC;
    font-size: 18px;
    background-color: #EAF4F5;
    margin: 3px;
    height: 28px;
}


#changeNameMode {
    right: 1px;
    top: 12px;
    position: absolute;
}

#backbutton {
    left: 10px;
    position: absolute;
    padding: 0;
    margin: 0;
}

#changebutton {
    right: 10px;
    position: absolute;
    padding: 0;
    margin: 0;
}

ul, ol, li {
    list-style-type: none;
}

.reqremove {
    height: 20px;
    margin-top: -30px;
}

.navbuttonicon {
    margin-top: -6px;    
    margin-left: -6px;    
}

#deletetagsubmit {
    background-color: #7BB6BC;
    color: black;
    border-radius: 50%;
}

.timeline-title {
    font-size: 5px;
}

.bold {
    font-weight: bold;
}

.timeline-info {
    margin-bottom: 30px;
    margin-left: 10px;
}
