html {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", 
                 "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: lighter;
}

body, html{
    height: 100%;
    width:100%;
}

h1, h2, h3, h4, h5, h6, p, div, span {
    margin: 0;
    padding: 0;
}

.hide-scroll {
    overflow: hidden;
}

.hidden {
    display: none;
}

.header{
    font-size: 60px;
    text-align: center;
}

.fixed {
    position:fixed; 
    width:100%; 
    z-index: 1;
    background-color: white;
}

.white { background-color: white}

.lightest-blue { background-color: #EAF4F5; }

.light-blue { background-color: #9FDAE0; }

.salmon-orange { background-color:#EF6E47;}

.light-salmon-orange { background-color: #FBB699; }

.turquoise { background-color: #7BB6BC; }

.grey { background-color: #BBC3CA; }

.white-text { color: white; }

.lightest-blue-text { color: #EAF4F5; }

.light-blue-text { color: #9FDAE0; }

.salmon-orange-text { color:#EF6E47;}

.light-salmon-orange-text { color: #FBB699; }

.turquoise-text { color: #7BB6BC; }

.grey-text { color: #BBC3CA; }

.black-text { color: black; }

.small-text {

}

.medium-text { font-size: 18px; }

.title-text {
    margin-top: 10px;
    font-weight: 100;
    font-size: 44px; 
    text-align: center;
    padding: 10px;
}

.subtitle-text { 
    font-size: 25px; 
    margin: 10px 0;
}

.our-icon { padding: 10px; }

