.outer{
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

.middle{
    display: table-cell;
    vertical-align: middle; 
    width: 50%; 
}

/* TODO: fix font weight*/
#login{
    text-align: center;
    color: #BBC3CA;
}

#login_but{
    left:;
}

h1{
    font-size: 60px;
    font-weight: 100; 
}

a{
    color: white;  
    font-size: 25px;
    padding: 0px 50px;
    word-wrap: normal;
    display: inline-block;
}

