#profile-header {
    width: 100%;
    /*margin: 0;*/
    /*padding: 0;*/
}

.edit-icon {
    margin: 5px;
    padding: 5px;
}

.name-text{
    margin-top: 10px;
    font-weight: 100;
    font-size: 40px; 
    text-align: center;
    padding: 10px;
}

.sub-header{
    width: 200%;
    height: 50px;
    color: #7BB6BC;
    padding: 10px;
}

.requesttimestamp {
    font-size: 12px;
    color: black;
}

#profile-name {
    vertical-align: text-top;
    display: inline-block;
    padding: 10px;
}

#profile-pic{
    vertical-align: text-top;
    display: inline-block;
    height: 100%;
    margin-left: 20px;
    width:80px;
    height:80px;
}

.profile-subpage {
    padding:  10px 22px 22px 22px;
}

.profile-timeline, ul.timeline {
    margin: 0;
    padding: 0;
}

#timeline-button{
    background-color: #FEB596;
    font-size: 30px;
    font-weight: 100;
    border-color: #EF6E47;
    border-style: dashed hidden hidden hidden;
    text-align: center;
    padding: 10px;
    bottom: 0;
    width: 100%;
}

#profile-nav {
    text-align: center;
    width: 100%;
    /*margin-bottom: 10px;*/
}

.profile-nav-button {
    margin: 5px 12% 2px 12%;
    display: inline-block;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    background-color: #FBB699;
}

#tags {
    margin: 1%;
}

.tag, #newtagvalue {
    width: 100%;
    font-size: 14px;
    background-color: #7BB6BC;
    color: white;
    border-radius: 12px;
    height: 30px;
    line-height: 35px;
    padding: 6px;
    white-space: nowrap;
    margin: 2px;

}

.tag, #entertagsubmit {
    font-size: 14px;
    background-color: #7BB6BC;
    color: white;
    border-radius: 12px;
    height: 30px;
    width: 15%;
    line-height: 20px;
    padding: 6px;
    white-space: nowrap;
    margin: 2px;

}

#newtagvalue {
    /*width: 80%;*/
}

#newrequestvalue {
    color: black;
    margin: 0;
    border-radius: 0;
}

.q-text {
    font-size: 20px;
}

.checkbox {
    width: 25px;
    margin: 20px 100px;
    position: relative;
}

input[type="radio"] {
    margin: 8px 4px;
}

input[type="submit"] {
    border: none;
    width: 20px;
    text-align: center;
}


#nameinputsdiv {
    margin: 0 33px;
}

#updatefirstname, #updatenickname, #updatelastname {
    border: 1px solid #7BB6BC;
    font-size: 18px;
    background-color: #EAF4F5;
    margin: 3px;
    height: 28px;
}


#changeNameMode {
    right: 1px;
    top: 12px;
    position: absolute;
}

#backbutton {
    left: 10px;
    position: absolute;
    padding: 0;
    margin: 0;
}

#changebutton {
    right: 10px;
    position: absolute;
    padding: 0;
    margin: 0;
}

ul, ol, li {
    list-style-type: none;
}

.reqremove {
    height: 100%;
    position: relative;
}

.requpdate {
    height: 100%;
    position: relative;
    margin-right: 0px;
}

.navbuttonicon {
    margin-top: -6px;    
    margin-left: -6px;    
}

#deletetagsubmit {
    background-color: #7BB6BC;
    border-radius: 50%;
}

.timeline-title {
    font-size: 5px;
}

.bold {
    font-weight: bold;
}

.timeline-info {
    margin-bottom: 30px;
    margin-left: 10px;
}

.request {
    border-radius: 0px;
    border: none;
    margin: 10px;
    background-color: #7BB6BC;
    padding: 10px;
    color: white;
}

#requestlist {
    margin: 0;
    padding: 0;
}

#newtagvalue::-webkit-input-placeholder { color: white; }
#newtagvalue::-moz-placeholder { color: white; }
#newtagvalue:-ms-input-placeholder { color: white; }
#newtagvalue:-moz-placeholder { color: white; }

.segmented {
  padding: 12px;   
  text-align: center;
}

.segmented input[type=radio] {
   display: none;
}
.segmented label {
  padding: 15px 10%;
  width: 100px;
  cursor: pointer;
}

.segmented input:checked + label {
  color: #FBB699;
}

#successMessage {
  z-index:1;
  position: fixed;
  left: 50%;
  top: 25%;
  transform: translate(-50%, 0);
  background-color: white;
  box-shadow: 10px 10px 5px #888888;
  padding: 35px;
  border: 2px solid black;
  text-align: center;
  width: 80%;
}

.successMessage {
  font-size: 30px;
}