#profile-header {
    width: 100%;
    margin: 0;
    padding: 0;
}

.icon-left-nav {
    margin: 0;
    padding: 0;
}

.name-text{
    margin: 30px 0px 0px 30px;
    font-size: 25px;
}

.sub-header{
    background-color: #EAF4F5;
    position: relative;
    width: 200%;
    height: 50px;
    color: #7BB6BC;
    padding: 10px;
}

#profile-header{
    padding: 20px 10px 10px 10px;
}

#profile-name {
    vertical-align: text-top;
    display: inline-block;
    padding: 10px;
}

#profile-pic{
    vertical-align: text-top;
    display: inline-block;
    height: 100%;
    margin-left: 20px;
    width:80px;
    height:80px;
}

.profile-subpage {
    padding: 22px;
}

#timeline-button{
    background-color: #FEB596;
    font-size: 30px;
    font-weight: 100;
    border-color: #EF6E47;
    border-style: dashed hidden hidden hidden;
    text-align: center;
    padding: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

#profile-nav {
    text-align: center;
    width: 100%;
}

.profile-nav-button {
    margin: 5px 12% 2px 12%;
    display: inline-block;
    height: 26px;
    width: 26px;
    border-radius: 13px;
    background-color: #FBB699;
}

.selected-button {
    background-color: #EF6E47;
}

#tags {
    margin: 10px 30px;
}

.tag {
    font-size: 12px;
    background-color: #7BB6BC;
    color: white;
    padding: 5px;
    border-radius: 12px;
}

.content {
    margin-top: 150px;
}

#newrequestvalue {
    color: black;
    margin: 0;
}

.q-text {
    font-size: 20px;
}

.checkbox {
    width: 25px;
    margin: 20px 100px;
    position: relative;
}

input[type="radio"] {
    margin: 8px 4px;
}

#updatefirstname, #updatenickname, #updatelastname {
    border: none;
    float:left;
    /*display: inline-block;*/
    width: 100px;
    margin: 10px 0px 10px 0px;
    font-size: 25px;
}