#searchbar {
    position: relative;
    left: 10%;
    padding: 2px;    
}

.search-result{
    position: relative;
    border: 1px solid #7BB6BC;
    padding: 12px;
    margin: 18px;
}

#search-info{
    font-size: 12px;
    background-color: white;
    border: 1px solid #EF6E47;
    height: 55px;
    color: black;
    padding: 2px 5px;
}

#searchname{
    position: relative;
    text-align: left;
    margin-bottom: 3px;
    height: 25px;
    color: white;
    padding: 2px 5px;
}

input[type=input] {
    color: black;
    position: relative;
    width: 80%;
    padding: 10px;
    margin-bottom: 12px;

    text-align: center;
    border: 1px solid #8EC0C6;
    border-radius: 0px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;    
    box-shadow: none;
}